@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

.mainFlexContainer .title {


    font-size: 2em;

}

.mainFlexContainer .title h2 {
    font-weight: 500;
}

.box {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.form {

    grid-area: form;
    background-color: rgba(117, 1, 1, 0.842);


}

.infoMapContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}



.map {
    grid-area: map;
    background-color: rgba(32, 22, 22, 0.842);
}

.contact {
    padding: 40px;
    /* background-color: rgba(117, 1, 1, 0.842); */
}

.contact h3 {
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.formBox {
    position: relative;
    width: 30rem;
}

.formBox .row50 {
    display: flex;
    gap: 20px;

}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox {
    width: 100%;
}



.inputBox label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.inputBox input,
.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333
}

.inputBox textarea {
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"] {
    background-color: #ff578b;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

/* info */
.info {
    grid-area: info;
    /* background-color: rgba(11, 96, 177, 0.842); */

    background: #0e3959;
}

.infoBox img {
    width: 24px;
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background-color: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;

}

.info .infoBox div span img {
    filter: invert(100%);

}

.info .infoBox div p {
    color: #fff;
    font-size: 1.1em;
}

.info .infoBox div a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}

.sci {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.sci li {
    list-style-type: none;
    margin-right: 15px;

}

.sci li a img {
    filter: invert(60%);
    width: 2em;
}

.sci li a img:hover {
    filter: invert(100%);

}

.map {
    padding: 0;
    height: 100%;
}

.map iframe {
    width: 100%;
    height: 100%;
}