* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    /* width: 100%; */
    background-image: linear-gradient(var(--black1), var(--black1)), url(../img/design1_image1.jpg);
    background-size: cover;


}

.bannerAbout {
    background-image: linear-gradient(var(--black1), var(--black1)), url(../img/design1_image2.jpg);
    background-size: cover;
}

.bannerRules {
    background-image: linear-gradient(var(--black1), var(--black1)), url(../img/hockey_1.jpg);
    background-size: cover;
}

.gameInfoBanner {
    background-image: linear-gradient(var(--black1), var(--black1)), url(../img/hockey_2.jpg);
    background-size: cover;
}

.contactBanner {
    background-image: linear-gradient(var(--black1), var(--black1)), url(../img/hockey_3.jpg);
    background-size: cover;
}

.navbar {
    width: 85%;
    margin: auto;
    /* padding: 5px 0; */
    /* padding: 3px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background: black; */
    margin-bottom: 8px;



}

.logo {
    width: 65px;
    cursor: pointer;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}


#home::after {
    content: '';
    display: flex;
    box-shadow: var(--navbar-boxShadow);

}

#about::after {
    content: '';
    display: flex;
    box-shadow: var(--navbar-boxShadow);

}

#rules::after {
    content: '';
    display: flex;
    box-shadow: var(--navbar-boxShadow);
}

#gameInfo::after {
    content: '';
    display: flex;
    box-shadow: var(--navbar-boxShadow);

}

#registration::after {
    content: '';
    display: flex;
    box-shadow: var(--navbar-boxShadow);

}


#contact::after {
    content: '';
    display: flex;
    box-shadow: var(--navbar-boxShadow);
}


.nav-links ul li::after {
    content: '';
    height: 3px;
    width: 0;

    background: rgba(255, 255, 255, 0.274);

    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-links ul li {

    transition: 0.5s;
}

.nav-links ul li:hover {
    transform: scale(1.2);
}

.nav-links ul li:hover::after {
    width: 100%;
}



.mainFlexContainer {
    font-family: "Roboto", sans-serif;

    background: var(--black1);
    color: var(--white1);
    opacity: 0.7;

    width: 70%;
    margin: 0 auto;

    padding: 20px;
    border-radius: 20px;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

footer {
    background-color: black;
    color: white;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}