.aboutContainer {
    /* font-family: "Roboto", sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* max-width: 800px;
    max-width: 70%; */
    width: 70%;
    /* height: 500px; */

    /* max-width: 1000px; */
    /* max-width: 600px; */
    /* max-height: fit-content; */
    /* max-width: 600px; */
    margin: 0 auto;
    background: rgba(83, 1, 1, 0.548);
    background: black;
    color: white;
    opacity: 0.7;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.card {
    width: 90%;
    max-width: 440px;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(500px);
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
}

.card img {
    width: 140px;
    /* border-radius: 50%; */

}

.card h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
}

.card p {
    font-size: 18px;

    margin: 10px auto;
    max-width: 330px;
}


.card .links img {
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5s;
    display: none;
}

.card .links img:hover {
    background: #ff01cf;
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    color: #ff01cf;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
    display: none;
}