.missionInfo-container {

    width: 80%;
    display: flex;
    /* gap: 20px; */
    justify-content: space-evenly;
    /* align-items: center; */
    /* height: fit-content; */
    /* background-color: red; */
}

.missionInfo-container .card {
    width: 250px;
    height: 350px;

}

.missionInfo-container .card img {
    width: 100px;
    /* border-radius: 50%; */

}

.missionInfo-container .card h2 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    /* background-color: red; */
}

.missionInfo-container .card p {
    font-size: 16px;

    margin: 10px auto;
    max-width: 300;
    /* background-color: red; */

    /* font-weight: 600; */

}






.card {
    /* width: 100%; */
    /* max-width: 70%; */

    color: #fff;
    text-align: center;
    /* padding: 50px 35px; */
    border: 1px solid rgba(255, 255, 255, 0.3);

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    /* backdrop-filter: blur(500px); */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 2px;
}

#generalInfo {
    /* align-self: stretch; */
    /* justify-content: flex-start;
    text-align: start; */
    width: 80%;
}

#generalInfo p {
    max-width: 100%;
    /* text-align: start; */

}

.card img {
    width: 80px;
    /* border-radius: 50%; */

}

.card h2 {
    /* font-size: 40px;
    font-weight: 600;
    margin-top: 20px; */


    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}

.card p {
    font-size: 16px;

    margin: 10px auto;
    max-width: 330px;

    /* font-size: 16px;

    margin: 10px auto;
    max-width: 300; */
}


.card .links img {
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5s;
    display: none;
}

.card .links img:hover {
    background: #ff01cf;
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    color: #ff01cf;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
    display: none;
}