/* @import url('./colorstyles.css'); */

.mainFlexContainer {
    flex-direction: row;
}


.mainFlexContainer h3.year {
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
}

.mainFlexContainer h2,
.mainFlexContainer h3 {
    font-size: 30px;
    width: 100%;


}

.mainFlexContainer .event {

    display: flex;
    border: 8px;
    margin: 32px 0;
    border-radius: 8px;

    background: var(--red1);
    /* box-shadow: 10px -20px 90px 0px var(--red1); */
    /* background: var(--test); */
    /* width: 100%; */
}

.mainFlexContainer .event:hover {
    box-shadow: 10px -10px 90px 10px var(--red1);
}


.event .event-left {
    background: var(--black2);
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white1);
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .event-left .date {
    font-size: 56px;

}

.event .event-left .month {
    font-size: 16px;
    font-weight: normal;
}

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;


}



.event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    text-transform: uppercase;
}

.event-description,
.event-title {
    color: var(--white1);
}

.event .event-right .event-timing {
    background: var(--lightBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 6px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;

    color: var(--black1);
}

.event .event-right .event-timing img {
    height: 20px;
    padding-right: 6px;
}