.rulesContainer {
    /* font-family: "Roboto", sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* max-width: 800px;
    max-width: 70%; */
    width: 70%;
    /* height: 500px; */

    /* max-width: 1000px; */
    /* max-width: 600px; */
    /* max-height: fit-content; */
    /* max-width: 600px; */
    margin: 0 auto;
    background: rgba(83, 1, 1, 0.548);
    background: black;
    color: white;
    opacity: 0.7;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    /* flex-wrap: wrap; */
    /* display: flex; */
}

.rulesContainer p {
    /* margin: 10px; */
}

.listRules {
    padding: 10px;
    margin: 10px;
}

.listRules * {
    margin: 10px;
    /* display: inline-block; */
}

article>h2 {
    margin: 10px;
}

ol ol {
    list-style-type: lower-alpha;
    list-style-position: inside;

    /* list-style-position: inside; */
    /* padding: 20px; */
    /* text-align: start; */
}

dd {
    margin: 10px;
}

dd ul li {
    list-style-position: inside;
    list-style-type: circle;
}