* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: cursive;
}


.container {
    width: 800px;
    height: fit-content;
    /* sbackground-color: red; */

     margin: auto;
    /* margin-top: 40px;
    margin-bottom: 40px;  */
    position: relative;
   
align-items: center;
}


.header-navBar {
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    position: relative;


}

.header-navBar h1 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
}

.header-navBar-links {
    width: fit-content;
    height: fit-content;
    /* background-color: orangered; */
    position: absolute;

    bottom: -10px;
    right: 0px;
    z-index: 1;

}

.header-navBar-links a {
    text-decoration: none;
    color: white;

    background-color: rgb(83, 120, 221); 
    border-radius: 4px;

    padding: 2px;



}
#aboutActive,
#homeActive,
#contactActive
{
    background-color: rgb(14, 167, 133);
}


.header-headerImage {
    width: 100%;
    height: 250px;
    /* background-color: green; */
    position: relative;

}

.header-headerImage img {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: fit-content;
    /* background-color: blueviolet; */
    position: relative;
}

.main-title {
    width: 100%;
    height: auto;
    /* background-color: yellow; */
    text-align: center;


}


.main-logo {
    width: 100px;
    height: 100px;
    /* background-color: blue; */
    display: inline-block;


}

.main-logo img {
    width: 100%;
    height: 100%;
}

.main-content {
    width: calc(100% - 100px);
    height: fit-content;
    /* background-color: rgb(255, 0, 212); */
    position: absolute;
    display: inline-block;


}

.main-content .article {
    padding: 10px;
}

